body{
  position: relative;
 background-color: rgba(116, 192, 175);
}
/*
background-color: rgba(85, 84, 88); negro 
 background-color: rgba(116, 192, 175); azul 
 background-color: rgba(92, 171, 83); verde 
 background-color: rgba(156, 196, 120); kaki 
*/
 
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
  background: url(../img/partner/partner-1.png) no-repeat center center/contain;
}
.partner .partner-box-2 {
  background: url(../img/partner/partner-2.png) no-repeat center center/contain;
}
.partner .partner-box-3 {
  background: url(../img/partner/partner-3.png) no-repeat center center/contain;
}
.partner .partner-box-4 {
  background: url(../img/partner/partner-4.png) no-repeat center center/contain;
}
.partner .partner-box-5 {
  background: url(../img/partner/partner-5.png) no-repeat center center/contain;
}
.partner .partner-box-6 {
  background: url(../img/partner/partner-6.png) no-repeat center center/contain;
}
.partner .partner .partner-box-7 {
  background: url(../img/partner/partner-7.png) no-repeat center center/contain;
}
.partner .partner-box-8 {
  background: url(../img/partner/partner-8.png) no-repeat center center/contain;
}
/* 
 * 5.0 Site Header
 */
 .site-header {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../img/bioinformatics/mano-dna.jpg) no-repeat center center/cover;
  display: table;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-title{
 background-color: rgba(156, 196, 120);
}
.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
a.active {
  color: #56B156 !important;
  border-bottom: 1px solid;
}

section{
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 34px !important;
  padding-right: 34px !important;
  background: #fff;
  margin-bottom: 20px;
}
nav{
 
  background:rgb(211, 209, 218) !important;
}
.nav-link{
  color: rgba(116, 192, 175) !important;
}

.carousel-item {
  max-width: 100%;
  min-width: 100%;
  min-height: 500px;
 max-height: 500px;
 background-color: #000;
}
.carousel-item >img {
 min-height: 500px;
 max-height: 500px;
}
#slider{
  margin-top: 64px;
}
.logo{
  padding-top: 0px;
  max-height: 64px;
}