body{
	position: relative;
}
div.img{

  position: relative;
  max-width: 100%;
  height: 300px;
          background: url("https://picsum.photos/1200/300") no-repeat center center;
          background-size: cover;

          display:block
          -moz-background-size: cover;
          -webkit-background-size: cover;
          -o-background-size: cover;
}
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
  background: url(../img/partner/partner-1.png) no-repeat center center/contain;
}
.partner .partner-box-2 {
  background: url(../img/partner/partner-2.png) no-repeat center center/contain;
}
.partner .partner-box-3 {
  background: url(../img/partner/partner-3.png) no-repeat center center/contain;
}
.partner .partner-box-4 {
  background: url(../img/partner/partner-4.png) no-repeat center center/contain;
}
.partner .partner-box-5 {
  background: url(../img/partner/partner-5.png) no-repeat center center/contain;
}
.partner .partner-box-6 {
  background: url(../img/partner/partner-6.png) no-repeat center center/contain;
}
.partner .partner .partner-box-7 {
  background: url(../img/partner/partner-7.png) no-repeat center center/contain;
}
.partner .partner-box-8 {
  background: url(../img/partner/partner-8.png) no-repeat center center/contain;
}
/* 
 * 5.0 Site Header
 */
 .site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../img/backgrounds/header.jpg) no-repeat center center/cover;
  display: table;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
a.active {
  color: #56B156 !important;
  border-bottom: 1px solid;
}